body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow:hidden;
    margin:0;
    cursor: crosshair;
}
canvas {
	min-width:100%;
	max-width:100%;
	min-height:100%;
	max-height:100%;
}

